@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Inter", system-ui, sans-serif;
  box-sizing: border-box;
}

boby,
html {
  line-height: 1.5;
  height: 100%;
}

:root {
  --black: #1c2024;
  --white: #ffffff;
  --background: #f0f0f3;
  --primary: #5b5bd6;
}

body {
  font-size: 16px;
  color: var(--black);
}

.form {
    height: 779px;
    width: 600px;
    background-color: #F4F5F7;
    border: 1px rgb(212, 212, 212) solid;
}

/* .form__section {
} */

.form__title {
    font-size: 18px;
    font-family: Inter;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
}

/* .form__row {
} */

.form__group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* clase de los labels */
.form__label{
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0px;
}

/* clase de los input */
/* .form__input{} */

.form__button{
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    background-color: #5B5BD6;
    color: white;
    border-radius: 1px; 
}
